.title {
  margin: 50px 0;
  font-size: 2.44rem;
  line-height: 130%;
  color: #151411;
}

span {
  font-size: 0.9rem;
  color: #518581;
  vertical-align: middle;
  padding-left: 26px;
  line-height: 130%;
}

.all {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

a {
  width: 20em;
  text-decoration: none;
}
